@model zadanie.Models.auto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>auto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rok)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
